<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <%- include('../partials/globalImports.ejs') %>
</head>

<body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container my-5">
        <div class="row">
            <div class="container d-flex justify-content-center">
                <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 col-11 col-md-7">
                    <div class="input-group">
                        <input type="search" placeholder="Vad önskas?" aria-describedby="button-addon1" class="form-control border-0 bg-light" id="searchbar">
                        <div class="input-group-append">
                            <button id="button-addon1" class="btn btn-link text-decoration-none d-flex justify-content-center align-items-center">
                                <span class="material-icons text-muted">
                                    search
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="row justify-content-center flex-wrap mx-auto">
                <% for( let i = 0; i < products.length; i++ ) { %>
                    <!--Card-->
                    <div class="card col-8 col-md-3 shadow pl-0 pr-0 info-card text-center mx-3 my-3" id="<%= products[i]._id %> ">
                        <!--Card img-->
                        <img src="./img/nedladdning.jpg" class="card-img-top w-75 mx-auto mt-2 bg-primary">
                        <!--Card body-->
                        <div class="card-body">
                            <p class="card-title fw-bold"><%= products[i].name %> </p>
                            <p class="card-text"><%= products[i].price %> SEK </p>
                            <a href="/product?product=<%- products[i]._id %> " class="btn btn-danger stretched-link d-flex align-items-center justify-content-center">
                                <span class="material-icons me-1">
                                    shopping_cart
                                </span>
                                Lägg i kundvagn
                            </a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <script>
        //Sad attempt at search function, works if a valid name is pasted in search bar after page reload
        const input = document.getElementById('searchbar');
        let products = document.getElementsByClassName('card')

        input.addEventListener('input', updateSearch); //runs everytime input changes

        function updateSearch(e) {
            search(e.target.value)
        }

        function search(input) {
            for (let i = 0; i < products.length; i++) {
                let element = products[i];
                let productName = element.children[1].children[0].innerText //name of product
                if (productName.toUpperCase() != input.toUpperCase()) {
                    element.style.display='none' 
                } else {
                    element.style.display = 'block'
                }
            }
        }
    </script>
</body>

</html>